@media only screen and (max-width: 425px) {
    .bg-custom {
        display: none;
    }
}

html {
    font-size: 90.5%
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
    --bs-gutter-x: 0rem;
}

.forgetPadding {
    padding: 0vw 8vw;
}

.forgetPadding p {
    font-size: 1rem;
    line-height: 1.5;
}

.forgetPadding input {
    padding: 0.9rem 0.9rem;
    border: 2px solid #116a7b;
    border-radius: 5px;
}

.active:focus {
    outline: none;
}

.forgetPadding input::placeholder {
    font-size: 100%;
}

.forgetPadding>button {
    font-size: 1rem;
    border: none;
    outline: none;
    background-color: #116a7b;
    color: white;
    padding: 10px 20px;
    border-radius: 25px;
}

conify-icon {
    font-size: 1.2rem;
    color: #116a7b;
}

.forgetbtn {
    outline: none;
    border: none;
    background-color: #ffff;
}

@media only screen and (max-width: 768px) {
    .forgetPadding {
        padding: 0vw 24vw;
    }

    .bg-custom {
        margin-bottom: 5rem;
    }
}

@media only screen and (min-width: 1100px) {
    .forgetPadding {
        padding: 0vw 10vw;
    }


}

@media only screen and (max-width: 425px) {
    .forgetPadding {
        padding: 0vw 7vw;
    }

    .forgetPadding h4 {
        font-size: 1.2rem;
    }

    .forgetPadding p {
        font-size: .9rem;
    }

    .forgetPadding input {
        padding: 0.7rem 0.7rem;
    }

    .forgetPadding button {
        font-size: .8rem;
    }

}