.data-image {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;

}

.updeladd img {
    margin-right: 2px;
    width: 20px;
    cursor: pointer;
}

.seainp input {
    outline: none;
    border: 2px solid #116a7b;
    padding-left: 7px;
}

.seainp input:focus {
    outline: none;
}

.overfl {
    width: 100%;
    overflow: scroll;
}

.updeladd :first-child {
    width: 26px;
    margin-right: 5px;
}

.pd {
    padding-top: 1.3rem !important;
}

.h2vehicledetial {
    font-size: 1.3rem;
}

.showoverflow {
    overflow-x: hidden !important;
}


@media screen and (max-width: 768px) {
    .tbl-fixed {
        width: 240%;
        overflow-x: scroll
    }




    &::-webkit-scrollbar {
        width: 6px;
        /* Adjust the width as needed */
    }
}

@media screen and (max-width: 768px) {
    .tbl-fixed {
        width: 150%;
        overflow-x: scroll
    }

    th,
    td {
        font-size: 15px !important;
    }


}

@media screen and (max-width: 475px) {
    .tbl-fixed {
        width: 150%;
        overflow-x: scroll
    }


    .forsiderpadding {
        margin-left: 5rem;
    }

    .myoverflow {
        width: 180%;
    }

    .pd {
        padding-top: 1.1rem !important;
    }


    th,
    td {
        font-size: 14px !important;
    }

    /* --------------- */

    .responsivemargin {
        margin-left: 4rem;
    }

    .overfl {
        width: 120% !important;
    }

    .seainp input {
        margin-right: 3rem !important;
    }
}

@media screen and (max-width: 450px) {
    .tbl-fixed {
        width: 230%;
        overflow-x: scroll
    }

    .forsiderpadding h5 {
        font-size: 16px;
    }

    .forsiderpadding button {
        font-size: 14px;
        padding: 8px 8px;
    }

    .overfl {
        margin-right: 3rem;
        width: 160% !important;
    }

    .backbtn img {
        width: 14px;
    }

}

@media screen and (max-width: 375px) {
    .overfl {
        margin-right: 3rem;
        width: 180% !important;
    }

    .myoverflow {
        width: 260%;
    }
}

@media screen and (max-width: 320px) {
    .overfl {
        margin-right: 3rem;
        width: 220% !important;
    }
}