.logoheading {
    color: var(--116a7b, #116A7B);
    text-align: left;
    font-size: 25px;
    padding: 25px;
    font-weight: 700;
}

.galleryimages {
    display: flex;
    justify-content: center;
    transform: translateY(170px);
}


.plus {
    margin-top: -150px;
    margin-left: -5px;
}

.uploadbtn2 {
    border-radius: 48.813px;
    background: var(--116a7b, #116A7B);
    color: #FFF;
    display: flex;
    width: 200px;
    height: 20px;
    padding: 20px 25px;
    align-items: center;
    border: none;
    justify-content: center;
}

.selected-image {

    height: 150px;
    width: 150px;
}






.uploadicon2 {
    margin-right: 10px;
}

.uploadbutton2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 220px;
    margin-left: -50px;

}

.createuser {
    color: var(--116a7b, #116A7B);
    font-weight: 700;
    margin-left: 38px;

}

.custom-border {
    border: 1.146px solid #6F6F6F;
}

.custom-width {
    width: 60%;
}

label {
    color: #000;
    font-size: 18px;
    font-weight: 450;

}

form {
    margin-left: -150px;
    padding-left: 60px !important;
}

.submitbtn2 {
    border-radius: 48.813px;
    background: var(--116a7b, #116A7B);
    color: #FFF;
    display: flex;
    width: 130px;
    height: 20px;
    padding: 20px 25px;
    align-items: center;
    border: none;
    justify-content: center;
}



.submitbutton2 {
    display: flex;
    margin-top: 40px;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}